
@mixin global-class-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background); 

    .basic-theme{
      color: mat-color($foreground, text);
      background-color: mat-color($background, card);
    }
    .primary-theme{
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
    }
    .accent-theme{
      color: mat-color($foreground, text);
      background-color: mat-color($accent);
    }
    .warn-theme{
      color: mat-color($foreground, text);
      background-color: mat-color($warn);
    }

      
}